# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\砺锋\刘付旭-项目\BankCard\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
